/* --------------------------- */
/*      ESTILOS GENERALES      */
/* --------------------------- */

html,
body {
    background-color: #28283B;
    height: 100%;
    margin: 4rem;
}

/* Fondo animado con paleta del álbum */
main {
    background: linear-gradient(-45deg,
            #ff92ff,
            #D3EDEA,
            #f4a3b4,
            #0BD5F4,
            #89d1c2,
            #F5276F);

    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

/* Animación del degradado */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* --------------------------- */
/*           MAIN              */
/* --------------------------- */

main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centra verticalmente */
    align-items: center;
    /* centra horizontalmente */
    align-items: center;
    min-height: 60vh;
    width: 100%;

}

/* Wrapper para que el iframe sea responsive */

header {}

.video-container iframe {
    display: flex;
    position: relative;
    padding-top: 6rem;
    /* dale el aire que quieras */
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    width: 170px;
    height: 396px;
    border: 0px;
    object-fit: cover;
    /* mantiene proporciones cubriendo todo */
    transform: translate(-50%, -50%);

}

/* Título */
h1 {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #89d1c2;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

}


.marquee {
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    color: #EAF2C7;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 3rem;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    font-size: 2.9rem;
    animation: marquee 100s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused;
}

/* Animación del texto */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.embedbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* dos columnas iguales */
    gap: 2rem;
    /* espacio entre embeds */
    width: 90%;
    max-width: 1100px;
    margin: 3rem;


    /* alinea verticalmente arriba */
}

/* Contenedor del embed */
#arboles2-listening {

    width: 90%;
    max-width: 600px;
}

/* Asegurar que el embed quede centrado */
#arboles-listening {
    border: none;
    border-radius: 12px;
    width: 100%;
    align-items: center;
    height: 380px;
    -moz-box-align: center;
    box-sizing: border-box;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/* --------------------------- */
/*          FOOTER             */
/* --------------------------- */

footer {

    padding: 2rem 0;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: blur(5px);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 3rem;
}


.links {
    gap: 3rem;
    color: beige;
    font-size: 0.9rem;
    opacity: 0.9;
}

a {
    color: beige;

}

a:visited {
    color: beige;
}

#GrillaFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.logo img {
    width: 70px;
    opacity: .85;
}

.creditos {
    font-size: 0.9rem;
    opacity: 0.9;
    color: beige;
}

/* --------------------------- */
/*      MÓVILES / RESPONSIVE   */
/* --------------------------- */

@media (max-width: 600px) {
    h1 {
        font-size: 1rem;
        padding: 0 1rem;
        width: 50%;
    }

    .embedbox {
        position: relative;
        width: 50%;

    }

    iframe {
        height: 100px;
    }
}
